{% extends 'bases/base_empresa.html' %}
{% load static %}
{% block 'head' %}
<style>
    label{
        color: white;
    }
    span{
        margin-bottom: 10px;
    }
</style>
{% endblock %}
<title>{% block 'title' %}empresa_cadastro_cinema{% endblock %}</title>


{% block 'body' %}
<br>
<br>
{% if messages %}
    
        {% for message in messages %}
            <div id="mensagem-container" class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}

    <script> setTimeout(function(){
        var mensagemContainer = document.getElementById('mensagem-container');
        if (mensagemContainer) {
            mensagemContainer.style.display="none"; 
        }
    },3000);</script>
{% endif %}
<br>
<br>
<div class="formulario" style="width: 45%;background:  rgb(44, 43, 43);color:white; height: 40%;">
 
    <br>
<div class="form">
<form action="." method="POST"> {% csrf_token %}


    <label >Nome do cinema</label>
        <span  class="form-control">{{cinema.nome}}</span>
        
        
<div class="row">
    <div class="col-md-6">
        <label >Provincia</label>
      <span   class="form-control">{{cinema.provincia}}</span>
    </div>

    <div class="col-md-6">
        <label >capacidade lotação</label>
        <span  class="form-control">{{cinema.capacidade_lotacao}}</span>
    </div>   
</div>  

<div class="row">
    <div class="col-md-6">
<label >Distrito</label>
    <span  class="form-control">{{cinema.distrito}}</span>
    
    </div>
    <div class="col-md-6">
    <label >Bairro:</label>           
   <span  class="form-control">{{cinema.bairro}}</span>
    
    </div >  
   </div>
    <br>
                     
                

 
</form>
</div>

</div>
{% endblock %}